// Manrope (400)
@font-face {
  font-family: 'Manrope';
  src: local('Manrope'),
    url('../../fonts/Manrope/400/Manrope-Regular.woff2') format('woff2'),
    url('../../fonts/Manrope/400/Manrope-Regular.woff') format('woff'),
    url('../../fonts/Manrope/400/Manrope-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

// Manrope (700)
@font-face {
  font-family: 'Manrope';
  src: local('Manrope'),
    url('../../fonts/Manrope/700/Manrope-Bold.woff2') format('woff2'),
    url('../../fonts/Manrope/700/Manrope-Bold.woff') format('woff'),
    url('../../fonts/Manrope/700/Manrope-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

// Druk Wide (700)
@font-face {
  font-family: 'Druk Wide';
  src: local('Druk Wide'), local('Druk-Wide'), local('Druk_Wide'),
    url('../../fonts/DrukWide/700/DrukWideBold.woff2') format('woff2'),
    url('../../fonts/DrukWide/700/DrukWideBold.woff') format('woff'),
    url('../../fonts/DrukWide/700/DrukWideBold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
