@import "common/fonts";
@import "common/vars";
@import "common/bootstrap-reboot";

// layout
@import "common/layout/header";
@import "common/layout/footer";

// @import "../../../node_modules/izimodal/css/iziModal.css";

body {
  font-family: 'Manrope', sans-serif;
  background-color: #111117;
  color: #fff;
}

h2.bold {
  font-family: 'Druk Wide', sans-serif;
}

.container {
  outline: 1px solid #ddd;
  max-width: 1340px;
  margin: auto;
  padding-left: 15px;
  padding-right: 15px;
}

// links
a {
  color: #fff;

  &:hover {
    transition-property: color;
    transition-duration: $transition-default-duration;
  }

  &:hover,
  &:active {
    text-decoration: none;
    color: #02EDF0;
  }
}
